@import "tailwindcss";

@theme {
  --color-darkBlue: #162231;
  --color-freshBlue: #0F70DC;
  --color-darkestBlue: #10202D;
  --color-midBlue: #152535;
  --color-lightDarkBlue: #1C2E3D;
  --color-custGray: #273344;
  --color-contentBgColor: #253241;
  --color-mainPageBgColor: #1c2e3d;
  --color-custWhite: #C1C9E5;
  --color-grayText: #66788C;
  --color-lightgrayText: #8898B0;
}

/* swiper */
.FirstSliderBanner .swiper-pagination-bullet {
  height: 5px;
  width: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #0F70DC;
  transition: all 0.3s ease;
}

.FirstSliderBanner .swiper-pagination-bullet-active {
  background-color: #0F70DC !important;
}

.FirstSliderBanner .swiper-wrapper {
  height: 90% !important;
}
/* swiper */

.notshowScrollVert::-webkit-scrollbar {
  width: 0px;
}

.notshowScrollHor::-webkit-scrollbar {
  height: 0px;
}